button {
  background-color: var(--strong-cyan);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.75rem 1.5rem;
  font-weight: var(--font-weight-semibold);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(171, 66%, 54%);
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 2rem;
}

.social-icons i {
  transition: opacity 0.2s ease;
  font-size: 26px;
  color: grey;
}

.social-icons i:hover {
  opacity: 0.7;
  color: var(--strong-cyan);
}
